{% extends "header.html" %}
{% block content %}
<h3>About Us</h3>
<p class="lead">
    Thanks for visiting RateMyUMDLandlord. This flask app was created by Eric Qian, Surmud Jamil, and Aashray Raparla for the final project of our python flask development class, CMSC388J at UMD. 
    This website allows the user to search up landlords within the College Park area, rate the landlords on a scale from 1 to 5, and allows users to write comments about a specific landlord. 
    With this website, we hope that we can help people looking for housing near the College Park area get a better understanding of their landlords. We understand that it can be frustrating to 
    find out that your landlord isn’t a very nice person. Through this website, we hope we can help you make a more informed decision and choose the best place to live. 
    <br />
    <br />
    <h5>Surmud Jamil</h5>
    My name is Surmud Jamil and I'm a junior at UMD. I'm glad I was able to come up with the idea for making this flask app because I really enjoyed the process of working in python
    and deploying a functioning web application. I've had the experience of teaching coding to kids and teenagers in the past, which I've really enjoyed. After my internship this summer, 
    I hope to find a job related to data science and machine learning, which are some things that I really enjoy in CS. If you'd like to check out my github, you can view my other projects
    at github.com/surmud 
    <br />
    <br />
    <h5>Eric Qian</h5>
    Hi, my name is Eric Qian. I am currently a junior at the University of Maryland, College Park majoring in computer science and minoring in innovation and entrepreneurship.
    A project I’ve worked on by myself is an Amazon web scraper that you can find on my github under the personal repository. The web scraper allows the user to input any Amazon
    product page and it will grab the contents and store it neatly in a CSV file. What motivated me to make this was to make the shopping experience on Amazon a little easier 
    and faster. Browsing through Amazon can take a long time, especially if there are a lot of products, so this web scraper just grabs the pertinent information that you will
    most likely need. Information that is grabbed includes the name of the product, the price, and the link to the product if you want to buy it. It does all this in seconds,
    while browsing through Amazon would normally take minutes. As you can see, I enjoy creating things to help people and make their lives easier. There is still a lot to 
    learn and a lot more things that I want to do. 

    <br />
    <br />
    <h5>Aashray Raparla</h5>
    Hi, my name is Aashray Raparla. I am currently a sophomore at the University of Maryland, College Park majoring in Computer Science and minoring in innovation and 
    entrepreneurship. I am interested in Web Development and have been working with different Frontend and backend frameworks to help build my skills. I hope to also minor
    in Statistics and leave this class with a good understanding of Flask and building web apps with Flask. 

  </p>
 
{% endblock %}
