{% extends "header.html" %}
{% block content %}
<div class="row">
    <div class="col">
        {# Profile picture #}
        <img class="propic" src="data:image/png;base64,{{image}}" alt="image">
    </div>
    <div class="col">
        {% Hello %}
    </div>
</div>
<div class="row">
    <div class="col">
      <form>
        <div class="form-group">
          <label for="newUsername">Password</label>
          <input type="password" class="form-control" id="newUsername">
        </div>
        <button type="submit" class="btn btn-primary">Register Now</button>
      </form>
    </div>
</div>
<div class="row">
    <div class="col">
      <form>
        <div class="form-group">
          <label for="exampleFile">Example file input</label>
          <input type="file" class="form-control-file" id="exampleFile">
        </div>
      </form>
    </div>
</div>
<div class="row">
    <div class="col">
        <a href="{{ url_for('user_detail') }}"> User Details </a>
    </div>
</div>
{% endblock %}
